<div>
  <div role="tablist">
    <b-card no-body>
      <b-collapse
        id="upload-stage-one"
        visible
        accordion="upload"
        role="tabpanel"
      >
        <b-card-body>
          <UploadStepOne @next-step="finishStepOne"></UploadStepOne>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body>
      <b-collapse id="upload-stage-two" accordion="upload" role="tabpanel">
        <b-card-body>
          <UploadStepTwo></UploadStepTwo>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</div>
