<div class="host">
  <div role="tablist" class="tab-list">
    <b-collapse
      id="upload-stage-one"
      visible
      accordion="upload"
      role="tabpanel"
    >
      <b-card-body>
        <UploadStepOne @next-step="finishStepOne"></UploadStepOne>
      </b-card-body>
    </b-collapse>

    <b-collapse id="upload-stage-two" accordion="upload" role="tabpanel">
      <b-card-body>
        <UploadStepTwo :step-one-data="stepOneData"></UploadStepTwo>
      </b-card-body>
    </b-collapse>
  </div>
</div>
