@import "src/custom";

html,
body,
.full-height {
  margin: 0;
  width: 100%;
  height: 100%;
}

.border-transparent {
  border-color: transparent !important;
}

.card.full-height {
  & > .card-body {
    padding: 0;
  }
}

:focus {
  outline: initial !important;
  box-shadow: initial !important;
}

.update-indicator {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 100%;
  &.fade {
    opacity: 0;
    transition: opacity 1s;
  }
}
