<div id="app" class="full-height" @dragenter="dragOn" @dragleave="dragOff">
  <vue-spinner :loading="loading > 0" class="main-spinner"></vue-spinner>
  <b-card no-body border-variant="transparent" class="full-height">
    <b-card-header header-tag="nav">
      <b-nav card-header tabs>
        <b-nav-item to="/editor" exact exact-active-class="active"
          >Editor</b-nav-item
        >
        <b-nav-item to="/upload" exact exact-active-class="active"
          >Upload</b-nav-item
        >
        <b-nav-item to="/notifications" exact exact-active-class="active"
          >Notifications</b-nav-item
        >
        <b-nav-item to="/admin" exact exact-active-class="active"
          >Admin</b-nav-item
        >
      </b-nav>
    </b-card-header>

    <b-card-body class="text-center">
      <router-view></router-view>
    </b-card-body>
  </b-card>
  <div class="cookie-info" :class="{ 'hide-below': !showCookieInfo }">
    <div class="cookie-info-wrap">
      We are not tracking you, but this website does use cookies.
      <a href="JavaScript:void(0)" class="ml-2" @click="disableCookieInfo">
        Ok
      </a>
      <a href="//google.com" class="ml-2">
        Leave Site
      </a>
    </div>
  </div>
  <NotificationPopup></NotificationPopup>
</div>
