html,
body,
.full-height {
  margin: 0;
  width: 100%;
  height: 100%;
}

.border-transparent {
  border-color: transparent !important;
}

.card.full-height {
  & > .card-body {
    padding: 0;
  }
}
