<div id="app" class="full-height" @dragenter="dragOn" @dragleave="dragOff">
  <vue-spinner :loading="loading > 0" class="main-spinner"></vue-spinner>
  <div class="slide-overlay" :class="{sidebarOpen}"></div>
  <router-view id="page-wrap"></router-view>
  <Slide
    :noOverlay="true"
    @openMenu="sidebarOpen = true"
    @closeMenu="sidebarOpen = false"
    class="sidebar"
  >
    <router-link
      :to="'/' + r.path"
      v-for="r in routes"
      :key="r.path"
      v-slot="{ href, route, navigate, isActive, isExactActive }"
    >
      <a :class="{isActive, 'nav-link': 1}" :href="href" @click="navigate">
        {{ r.title }}
      </a>
    </router-link>
  </Slide>
  <div class="cookie-info" :class="{ 'hide-below': !showCookieInfo }">
    <div class="cookie-info-wrap">
      We are not tracking you, but this website does use cookies.
      <a href="JavaScript:void(0)" class="ml-2" @click="disableCookieInfo">
        Ok
      </a>
      <a href="//google.com" class="ml-2">
        Leave Site
      </a>
    </div>
  </div>
  <NotificationPopup></NotificationPopup>
</div>
