<div class="node" :class="[selected(), node.name] | kebab">
  <div class="title">
    {{ node.data.displayName }}
  </div>
  <!-- Outputs-->
  <div
    class="output"
    v-for="(output, i) in outputs()"
    :key="node.id + '/o/' + i"
  >
    <dataset-dropdown :node="dataNode"></dataset-dropdown>
    <Socket
      v-socket:output="output"
      type="output"
      :socket="output.socket"
    ></Socket>
  </div>
  <!-- Inputs-->
  <div class="input" v-for="(input, i) in inputs()" :key="node.id + '/i/' + i">
    <Socket v-socket:input="input" type="input" :socket="input.socket"></Socket>
    <dataset-dropdown :node="dataNode"></dataset-dropdown>
    <div
      class="input-control"
      v-show="input.showControl()"
      v-control="input.control"
    ></div>
  </div>
</div>
