@import "src/../node_modules/rete-vue-render-plugin/src/vars";
@import "src/globals";

.node {
  background: $node-color;
  border: ($ratio * 2em) solid #4e58bf;
  border-radius: ($ratio * 10em);
  cursor: pointer;
  min-width: $node-width;
  height: auto;
  padding-bottom: ($ratio * 6em);
  box-sizing: content-box;
  position: relative;
  user-select: none;
  &:hover {
    background: darken($node-color, 4%);
  }
  .title {
    color: white;
    font-family: sans-serif;
    font-size: 1.25em;
    padding: ($ratio * 8em);
  }
  .output {
    text-align: right;
  }
  .input {
    text-align: left;
  }
  .input-title,
  .output-title {
    vertical-align: middle;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.9em;
    margin: $socket-margin;
    line-height: $socket-size;
  }
  .input-control {
    z-index: 1;
    width: calc(100% - #{$socket-size + 2 * $socket-margin});
    vertical-align: middle;
    display: inline-block;
  }
  .control {
    padding: $socket-margin $socket-size / 2 + $socket-margin;
  }
  .settings {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    font-size: 1.8em;
    color: $palette-1-hex;
  }
}
