<div>
  <b-input-group class="type">
    <b-form-input
      type="text"
      placeholder="(required)"
      :value="fileType"
      @input="updateType"
    ></b-form-input>
  </b-input-group>
  <b-input-group prepend="/" class="name">
    <b-form-input
      type="text"
      placeholder="(required)"
      :value="uploadName"
      @input="updateName"
    ></b-form-input>

    <b-input-group-append>
      <b-dropdown :text="selectedJobCount ? selectedJobCount.text : ''">
        <b-dropdown-item
          v-for="option in jobCounts"
          :value="option.value"
          @click="selectedJobCount = option"
          :key="option.value"
        >
          {{ option.text }}
        </b-dropdown-item>
      </b-dropdown>
      <b-button variant="success" @click="$emit('continue')"
        >Finish Upload</b-button
      >
    </b-input-group-append>
  </b-input-group>
</div>
