<div>
  <b-modal
    id="extract-modal"
    title="Upload"
    ok-title="Yes"
    cancel-title="No"
    @ok="doExtract(true)"
    @cancel="doExtract(false)"
  >
    <p class="my-4">
      Your upload contains archives. Do you want to extract them?
    </p>
  </b-modal>
  <b-input-group class="type" prepend="Upload Name:">
    <b-form-input
      type="text"
      placeholder="(required)"
      :value="uploadName"
      @input="updateName"
    ></b-form-input>

    <b-input-group-append>
      <b-button variant="success" @click="finishUpload()">Continue</b-button>
    </b-input-group-append>
  </b-input-group>
</div>
