@import "src/custom";

.rete-editor {
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  .dock {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .dock-item {
    display: inline-block;
    vertical-align: top;
    font-size: 0.7em;
    .node {
      margin: 0.3em 1em;
    }
    .settings,
    .download {
      display: none;
    }

    .filtered {
      display: none;
    }
  }

  .rete-container {
    flex: 1 1 auto;
    overflow: hidden;
    .node-editor {
      width: 100%;
      height: 100%;
      .connection {
        path {
          stroke: $connection-color;
        }
      }
    }
  }

  position: relative;
  .save-load {
    position: absolute;
    display: flex;
    text-align: right;
    top: 5px;
    right: 5px;
    width: 50%;
    max-width: 450px;
    * {
      text-align: left;
    }
    & > .btn {
      margin-left: 5px;
    }
    .input-group {
      display: inline-flex;
    }
  }

  .filter-bar {
    text-align: left;
    position: relative;
    input {
      position: absolute;
      right: 0;
      top: 0;
      left: auto;
      max-width: 20em;
    }

    .btn:hover {
      background-color: initial;
      color: var(--primary);
    }
    .btn {
      visibility: hidden;
    }
  }

  .context-menu {
    .item {
      border-width: 0;
      opacity: 0.7;
      &,
      &:hover {
        background-color: rgb(35, 37, 43);
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
