<div class="host">
  <h2 class="display-4 mb-4">
    Upload Format
  </h2>
  <div class="error" v-if="stepOne && stepOne.error">
    <b-card
      bg-variant="warning"
      text-variant="white"
      header="Error"
      class="text-center"
    >
      <b-card-text>
        <p style="white-space: pre-line;">{{ stepOne.error }}</p>
      </b-card-text>
    </b-card>
  </div>
  <div class="main" v-if="stepOne && !stepOne.error">
    <Tree :files="stepOne.tree" :always-extended="true" class="tree"></Tree>
    <div v-for="(text, i) in types" class="d-inline-block column">
      <div class="head">
        <b-input-group>
          <b-input-group-prepend>
            <b-button variant="outline-danger" @click="removeColumn(i)">
              <font-awesome-icon icon="trash-alt"></font-awesome-icon>
            </b-button>
          </b-input-group-prepend>
          <b-form-input
            type="text"
            placeholder="Type"
            :value="text"
            @input="changeType(i, $event)"
          ></b-form-input>
        </b-input-group>
      </div>
      <div class="box" v-for="(line) in lines">
        <b-form-checkbox
          name="checkbox-1"
          v-if="line.val == 'box'"
          @input="checked(i, line.index, $event)"
          :checked="checkboxes[i][line.index]"
        >
        </b-form-checkbox>
      </div>
    </div>

    <font-awesome-icon
      icon="plus-circle"
      @click="addColumn"
      class="add text-success"
    ></font-awesome-icon>
  </div>
  <b-button
    class="m-2"
    variant="success"
    @click="finish(false)"
    :disabled="stepOne && stepOne.error"
  >
    Apply
  </b-button>
  <b-button class="m-2" @click="finish(true)">
    Abort, Manual Format
  </b-button>
</div>
