.main {
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;

  ::v-deep div {
    height: 25px;
  }

  .tree {
    display: inline-block;
    margin-left: 0;
    padding-top: 40px;
    padding-right: 20px;
  }

  .head {
    height: 40px;
    width: 140px;
    margin: 0 10px;
    input {
      display: inline-block;
    }
  }

  *:not(svg) {
    vertical-align: top;
  }

  .box {
    text-align: center;
    .custom-checkbox {
      padding-left: 2.2em;
    }
  }

  .column {
    height: initial;
  }

  .add {
    height: 40px;
    margin: 0 15px;
    cursor: pointer;
  }

  .input-group-prepend {
    height: initial;
  }
}

.error {
  margin: 2em;
}
