.host {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

::v-deep .toast,
.b-toast,
.link-container {
  max-width: 800px;
  width: 100%;
}

.content:not(.text-truncate) {
  white-space: pre;
}

.none {
  opacity: 0.2;
  text-align: center;
  font-size: 1.5em;
  svg {
    font-size: 4em;
    margin-bottom: 0.2em;
  }
}
