<div class="host">
  <div class="link-container d-flex" v-if="notifications.length">
    <a class="ml-auto" href="JavaScript:void(0)" @click="clear()">Clear All</a>
  </div>
  <b-toast
    v-for="notification in notifications"
    :key="notification.num"
    static
    no-auto-hide
    :visible="true"
    :variant="notification.variant"
    @hidden="remove(notification)"
  >
    <template v-slot:toast-title>
      <div class="d-flex flex-grow-1 align-items-baseline">
        <span class="mr-auto">{{ notification.short_text }}</span>
        <small class="text-muted mr-2">{{ notification.ago }}</small>
      </div>
    </template>
    <div
      :class="{'text-truncate': !notification.expand, 'w-100': !notification.expand}"
      class="content"
    >
      {{ notification.long_text }}
    </div>

    <div
      class="d-flex flex-grow-1 align-items-baseline"
      v-if="!notification.expand"
    >
      <a
        class="ml-auto text-muted"
        href="JavaScript:void(0)"
        @click="expand(notification)"
        >See All</a
      >
    </div>
  </b-toast>
  <div class="none" v-if="!notifications.length">
    <font-awesome-icon icon="umbrella-beach"> </font-awesome-icon><br />
    all done
  </div>
</div>
