.host {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

::v-deep .toast,
.b-toast {
  max-width: 800px;
  width: 100%;
}

.content:not(.text-truncate) {
  white-space: pre;
}
