.uploader {
  // max-width: 880px;
  padding: 15px;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;

  .uploader-btn {
    margin-right: 4px;
  }

  .uploader-list {
    max-height: 440px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.uploader-drop {
  // disable default dragover highlight
  position: relative;
  padding: 10px;
  overflow: hidden;
  border: 1px dashed #ccc;
  background-color: #f5f5f5;
}

.drag-active {
  .uploader-drop {
    // custom dragover highlight
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: 2px dashed green;
    background-color: #f5f5f5;
  }
}
