@import "src/../node_modules/rete-vue-render-plugin/src/vars";

// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
  ),
  $theme-colors
);

/* Color Theme Swatches in Hex */
$palette-1-hex: $blue;
$palette-2-hex: $info;
$palette-3-hex: $green;
$palette-4-hex: $teal;
$palette-5-hex: $yellow;

$node-color: desaturate(lighten($info, 10%), 20%);
$socket-color: desaturate(darken($info, 4%), 20%);
$node-border-color: transparent;
$gear-color: desaturate(darken($info, 25%), 20%);
$connection-color: desaturate(darken($warning, 3%), 10%);
$secondary-node-color: desaturate(lighten($success, 10%), 25%);
$secondary-socket-color: desaturate(darken($success, 4%), 25%);

$ratio: 1 / 16;
$group-handler-size: $ratio * 40em;
$group-handler-offset: $ratio * -10em;
$socket-size: $ratio * 24em;
$socket-margin: $ratio * 6em;
$node-width: $ratio * 180em;

@import "~bootstrap";
@import "~bootstrap-vue";
